@model SktProject.Models.ViewModel.CategoryProductViewModels
@{
    ViewBag.Title = "checkout";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<script>
     $(function () {
            $(".close1").click(function () {
                var dataId = $(this).attr("data-id1");
                alert("The data-id of clicked item is: " + dataId);


                console.log(dataId);
                //linkteki id yi yakalamak için
                //var silinecekid = $(this).data("data-id");
                //console.log(silinecekid);
                if (dataId != '') {
                        //null değilse post işlemi baslamalı
                    $.post("/ShoppingCart/RemoveToCartt", { "id": dataId },
                            function (data) {
                                //if (data.ItemCount == 0) {
                                //    $("#item-count-" + data.Deletedid).fadeOut('slow');
                                //}
                                //else {
                                //    $("#item-count-" + data.Deletedid).text(data.ItemCount);
                                //}
                                //$("#cart-total").text(data.CartTotal);
                                //$("#update-message").text(data.Message);
                                //$("#cart-status").text('Cart(' + data.CartTotal + ')');
                            }
                        )
                    }
                    location.reload();
                })
        })
</script>


    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
                <li>Checkout</li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <div class="w3l_banner_nav_left">
            <nav class="navbar nav_bottom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav nav_1">
                        @foreach (var item in Model.Category)
                        {
                            <li>
                                <a style="cursor:pointer" href="@Url.Action("IndexId","Home",new { id = item.CategoryId})">@Html.DisplayFor(modelItem => item.CategoryName)</a>
                            </li>
                        }
                    </ul>

                </div>
            </nav>
        </div>
        <div class="w3l_banner_nav_right">
            <!-- about -->
            <div class="privacy about">
                <h3>Chec<span>kout</span></h3>

                <div class="checkout-right">
                    <h4>Your shopping cart contains: <span>3 Products</span></h4>
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                @*<th>SL No.</th>*@
                                <th>Product</th>
                                <th>Quality</th>
                                <th>Product Name</th>

                                <th>Price</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            @foreach (var item in Model.Cart)
                            {
                                    <tr class="rem1">
                                        @*<td class="invert"></td>*@
                                        
                                        <td class="invert-image"><a href="single.html"><img  src="@item.Product.ProductUrl" alt=" " class="img-responsive"></a></td>
                                        <td class="invert">
                                            <div class="quantity">
                                                <div class="quantity-select">
                                                    <div class="entry value-minus">&nbsp;</div>
                                                    <div class="entry value"><span>@item.Count</span></div>
                                                    <div class="entry value-plus active">&nbsp;</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="invert">@Html.DisplayFor(modelItem => item.Product.Title)</td>

                                        <td class="invert">@Html.DisplayFor(modelItem => item.Product.Price)</td>
                                        <td class="invert">
                                            <div class="rem">
                                                <div class="close1" data-id1="@item.RecordId"> </div>
                                            </div>

                                        </td>
                                    </tr>
                                }
                                @*<tr class="rem2">
                <td class="invert">2</td>
                <td class="invert-image"><a href="single.html"><img src="images/3.png" alt=" " class="img-responsive"></a></td>
                <td class="invert">
                    <div class="quantity">
                        <div class="quantity-select">
                            <div class="entry value-minus">&nbsp;</div>
                            <div class="entry value"><span>1</span></div>
                            <div class="entry value-plus active">&nbsp;</div>
                        </div>
                    </div>
                </td>
                <td class="invert">Basmati Rise (5 Kg)</td>

                <td class="invert">$250.00</td>
                <td class="invert">
                    <div class="rem">
                        <div class="close2"> </div>
                    </div>

                </td>
            </tr>
            <tr class="rem3">
                <td class="invert">3</td>
                <td class="invert-image"><a href="single.html"><img src="images/2.png" alt=" " class="img-responsive"></a></td>
                <td class="invert">
                    <div class="quantity">
                        <div class="quantity-select">
                            <div class="entry value-minus">&nbsp;</div>
                            <div class="entry value"><span>1</span></div>
                            <div class="entry value-plus active">&nbsp;</div>
                        </div>
                    </div>
                </td>
                <td class="invert">Pepsi Soft Drink (2 Ltr)</td>

                <td class="invert">$15.00</td>
                <td class="invert">
                    <div class="rem">
                        <div class="close3"> </div>
                    </div>

                </td>
            </tr>*@

                            </tbody>
                    </table>
                </div>
                <div class="checkout-left">
                    


                    <div class="col-md-4 checkout-left-basket">
                        <h4>Continue to basket</h4>
                        @foreach (var item in Model.Cart)
                        {
                            <ul>
                                <li>@Html.DisplayFor(modelItem => item.Product.Title) <i>-</i> <span>@(item.Count*item.Product.Price)  </span></li>
                                @*<li>Product2 <i>-</i> <span>$25.00 </span></li>
                                <li>Product3 <i>-</i> <span>$29.00 </span></li>*@
                                @*<li>Total Service Charges <i>-</i> <span>$15.00</span></li>*@
                                @*<li>Total <i>-</i> <span>$84.00</span></li>*@
                            </ul>
                        }
                    </div>
                        <div class="col-md-8 address_form_agile">
                            <h4>Add a new Details</h4>
                            <form action="checkoutPayment" method="post" class="creditly-card-form agileinfo_form">
                                <section class="creditly-wrapper wthree, w3_agileits_wrapper">
                                    <div class="information-wrapper">
                                        <div class="first-row form-group">
                                           
                                            <div class="controls">
                                                @Html.LabelFor(m => m.Order.FirstName, new { @class = "control-label" })
                                                @Html.TextBoxFor(m => m.Order.FirstName, new { @class = "billing-address-name form-control" })
                                                @*<label class="control-label">Full name: </label>*@
                                                @*<input class="billing-address-name form-control" type="text" name="name" placeholder="Full name">*@
                                            </div>
                                            <div class="w3_agileits_card_number_grids">
                                                <div class="w3_agileits_card_number_grid_left">
                                                    <div class="controls">
                                                        @Html.LabelFor(m => m.Order.LastName, new { @class = "control-label" })
                                                        @Html.TextBoxFor(m => m.Order.LastName, new { @class = "form-control" })
                                                        @*<label class="control-label">Mobile number:</label>
                    <input class="form-control" type="text" placeholder="Mobile number">*@
                                                    </div>
                                                </div>
                                                <div class="w3_agileits_card_number_grid_right">
                                                    <div class="controls">
                                                        @Html.LabelFor(m => m.Order.Email, new { @class = "control-label" })
                                                        @Html.TextBoxFor(m => m.Order.Email, new { @class = "form-control" })
                                                        @*<label class="control-label">Landmark: </label>
                    <input class="form-control" type="text" placeholder="Landmark">*@
                                                    </div>
                                                </div>
                                                <div class="clear"> </div>
                                            </div>
                                            <div class="controls">
                                                @Html.LabelFor(m => m.Order.Phone, new { @class = "control-label" })
                                                @Html.TextBoxFor(m => m.Order.Phone, new { @class = "form-control" })
                                                @*<label class="control-label">Town/City: </label>
            <input class="form-control" type="text" placeholder="Town/City">*@
                                            </div>
                                            <div class="controls">
                                                @Html.LabelFor(m => m.Order.Adres, new { @class = "control-label" })
                                                @Html.TextBoxFor(m => m.Order.Adres, new { @class = "form-control" })
                                                @*<label class="control-label">Address type: </label>
            <select class="form-control option-w3ls">
                <option>Office</option>
                <option>Home</option>
                <option>Commercial</option>

            </select>*@
                                            </div>

                                        </div>
                                        <input type="submit" class="submit check_out" value="Delivery to this Address"/>
                                    </div>
                                </section>
                            </form>
                            <div class="checkout-right-basket">
                                <a href="checkout">Make a Payment <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                            </div>
                        </div>

                        <div class="clearfix"> </div>
                 
                </div>

            </div>
            <!-- //about -->
        </div>
        <div class="clearfix"></div>
    </div>

